
body{
    height: auto !important;
}


.main{
    margin: 5em 0px !important;
}

.limited{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
    max-height: 1em;
}